@use "../utils/variables" as v;
$controller-trransparent: #FFFFFF00;
$controller-primary: #FFFFFFFF;


.spaceEnjoy{
    width: 100%;
    height: calc(100vh - v.$header-height);
    background: transparent;
}

.controller{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 95%; 
    height: 90%;
    margin: 2.5%;
    border-radius: 10px;
    border-style: solid;
    border-color: #FFFFFF00;
    visibility: hidden;
    animation-name: flashing;
    animation-duration: 5s;
    animation-play-state: paused;
}

.controller:hover{
    border-color: white;
}


@keyframes flashing {
    from {
        border-color: $controller-trransparent;
    }
    
    20% {
        border-color: $controller-primary;
    }

    40% {
        border-color: $controller-trransparent;
    }

    60% {
        border-color: $controller-primary;
    }

    80% {
        border-color: $controller-trransparent;
    }
  
    to {
        border-color: $controller-primary;
    }
}

.tooltip{
    text-align: left;
    color: $controller-trransparent;
    font-family: "Custom Font";
    font-weight: normal;
    font-size: 20px;
    margin: 20px 30px;    

    overflow: hidden; 
    border-right: .15em solid #{$controller-trransparent}; 
    white-space: nowrap;
    letter-spacing: .1em; 
    animation: 
        tooltip 10s steps(80, end) paused ,
        cursor 1s step-end paused 10;
}

@keyframes tooltip {
    from {
        color: $controller-primary; 
        width: 0 }
    50% {
        color: $controller-primary; 
        width: 70ex }
    to {color: $controller-primary; 
        width: 70ex }
}

@keyframes cursor {
    from, to { border-color: transparent }
    50% { border-color: v.$our-orange; }
}

.control-mode{
    justify-content: bottom;
    visibility: hidden;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}