/// DEVS 
.devs{
    background: transparent;
    display: block;
  }
  .aboutDevs{
    width: 100%;
    height: 100vh;
    background: transparent;
    display: flex;    
  }
  .devsSide{
    height: 100%;
    width: 25%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background:black;
  }
  .devsBody{
    height: 100%;
    width: 70%;
    background:linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85));
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  
  .devsMenu{
    display: block;
    width: 100%;
    justify-content: center;
  }
  
  .listDevs{
    width: 100%;
    height: auto;
    background: transparent;
    justify-content: center;
    display: flex;
  }

  .listDevs .title{
    float: left;
    font-size: xxx-large !important;
  }

  .devFoto img{
    border-radius:60px;
  }
  .devFoto{
    margin: 20px;
    width: 150px;
    height: 150px;
    display: flex;
    cursor: pointer;
    border-radius: 75px;
    justify-content: center;
    align-items: center;    
    background:black;
    border: white;
    
  }
.devsCardImg{
    width: 150px;
    height: 150px;
    display: flex;
    margin: 25px 0 25px 0;
    cursor: pointer;
    border-radius: 75px;
    justify-content: center;
    align-items: center;    
    background:linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85));;
    border: white;
    
}
.devsCardImg img {
  border-radius: 65px;
}


 
  .imgContainer{
    margin-top: 3px;
    position: absolute;

  }
  // .devs button {
  //   padding: 25px;
  //   background-color: turquoise;
  // }
  
.octagon {
    width: 100%;
    height: 50px;
    background: black;
    position: relative;
    transition: all 0.2s;
}

.octagon:hover{
background: linear-gradient(to right, rgb(255, 75, 31), rgb(255, 144, 104));
}
.octagon:before{
  content: "";
  position: absolute;
  top: 0;
  width: 20px;
  height: 0;
  right: 0;
  transition: all 0.2s;
  border-bottom:25px solid  rgb(255, 144, 104);  
}
.octagon:hover:before {
  border-right: 35px solid #000;
}

.octagon:after{
  content: "";
  position: absolute;
  bottom: 0;
  transition: all 0.2s;
  width: 20px;
  right: 0;
  border-top: 25px solid rgb(255, 144, 104);
  height: 0;
}
.octagon:hover:after{
  border-right: 35px solid #000;
}
.downloadbutton{
  width: 80%;
  border-radius: 25px;
  height: 50px;
  margin-left: 10%;
  margin-top: 50px;
  background: linear-gradient(to right, rgb(0, 191, 143), rgb(0, 21, 16));
  position: relative;
  transition: all 0.2s;
}

.octagonActv{
  width: 100%;
  height: 50px;
  background: linear-gradient(to right, rgb(255, 75, 31), rgb(255, 144, 104));
  position: relative;
  transition: all 0.2s;
}

.octagonActv::before {
  content: "";
  position: absolute;
  top: 0;
  width: 20px;
  height: 0;
  right: 0;
  transition: all 0.2s;
  border-bottom:25px solid rgb(255, 144, 104);  
  border-right: 35px solid #000;
}

.octagonActv::after{
  content: "";
  position: absolute;
  bottom: 0;
  transition: all 0.2s;
  width: 20px;
  border-top: 25px solid rgb(255, 144, 104);
  border-right: 35px solid #000;
  right: 0;
  height: 0;
}


.cardResume{
  background-color: #fff;
  height: 110px;
  width: 270px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.cardResume:hover {
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}
.cardResume .svg{
  width: 32%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: transparent;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 20px 50px -10px inset, rgba(0, 0, 0, 0.3) 0px 16px 30px -16px inset;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.cardResume .svg img{
  margin-top: -20%;
}
.devResume{
  height: 100%;
}
.devResume .cards{
  display: flex;
  flex-wrap:wrap;
  overflow-y: auto;
  max-height: 37%;
  margin-left: 10px;
}
.devResume p{
  font-family: "Icon Font";
  font-size: 20px;
  margin: 20px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cardResume .content{
  display: flex;
  height: 100%;
  font-size: 15px;
  flex-direction: column;
}

.cardResume .content span {
margin: 4px;
}


.cardResume .content span:nth-child(1) {
font-weight: 800;
}
.devAbout{
  margin: 20px;
  color: #fff;
}

.devAbout p{
  font-weight: 800;
  font-size: 30px;
}




.progress
  {width: 100px;
  max-width: 260px;
  height: 6px !important;
  margin: 5px 5px 0 0px;
  background: #e1e4e8;
  border-radius: 3px;
  overflow: hidden;
}
  
  .progress-bar
    {display: block;
      margin: 0 !important;
  border-radius: 3px;
  height: 100%;
    background: linear-gradient(90deg,#ffd33d,#ea4aaa 17%,#b34bff 34%,#01feff 51%,#ffd33d 68%,#ea4aaa 85%,#b34bff);
background: linear-gradient(90deg, rgba(255,115,0,1) 0%, rgba(255,179,0,1) 17%, rgba(255,89,0,1) 31%, rgba(255,0,0,1) 47%, rgba(255,179,0,1) 65%, rgba(255,244,0,1) 84%, rgba(255,158,0,1) 100%, rgba(0,212,255,1) 100%);  
background-size: 300% 100%;
    animation: progress-animation 2s linear infinite;
    }

.cardSkill{
  background-color: transparent;
  height: 110px;
  width: 200px; 
  transition: 0.3s;
  display: flex;
  align-items: center;
  //justify-content: center;
  flex-direction: row;
  margin: 10px;
}
.cardSkill .content{
  display: flex;
  flex-direction: column;
  height: 55%;
  width: 100%;
  font-size: 15px;
  margin: 0 0 0 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}
.cardSkill .content span{
  margin: 0px 0  0 35px;
}

.cardSkill .content span:nth-child(1) {
  margin-top: 4px;
  font-weight: 800;
  }
  .cardSkill .content span:nth-child(2) {
    display: flex;
    flex-direction: row;
    margin-right: 4px;
  font-weight: 800;
  background: linear-gradient(90deg,#ffd33d,#ea4aaa 17%,#b34bff 34%,#01feff 51%,#ffd33d 68%,#ea4aaa 85%,#b34bff);
  background: linear-gradient(90deg, rgba(228,85,2,1) 0%, rgba(94,0,226,1) 17%, rgba(13,0,154,1) 31%, rgba(6,87,173,1) 48%, rgba(255,119,0,1) 65%, rgba(124,0,255,1) 84%, rgba(8,0,255,1) 100%, rgba(0,212,255,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    }

.cardSkill .content:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.cardSkill .svg{
  width: 60px !important;
  height: 60px !important;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex !important;
  background-color: rgb(20, 30, 48);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 20px 50px -10px inset, rgba(0, 0, 0, 0.3) 0px 16px 30px -16px inset;
  border-radius: 30px;
}

@keyframes progress-animation
  {
    0%
    {background-position: 100%;}
  100%
    {background-position: 0;}
  }