.canvasContainer {
    z-index: -1;
    position:fixed;
    left:0;
    bottom: 0;
    width: 100% !important;;
    height:100% !important;
    justify-content: end;
    display: flex;
    align-items: flex-end;
}
.canvasContainer canvas{
    bottom: 0;
}