@import "./fonts/fonts.scss";
@import "./animations/animations.scss";
@import "./deviceglobal.scss";
@import "./components/clients.scss";
@import "./components/front.scss";
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/devs.scss";
@import "./components/scroll.scss";
@import "./components/loader.scss";
@import "./components/controller.scss";
@import "./components/iconscene.scss";

html,
body {  
  height: 100%;
  margin: 0;
  font-family: "Roboto Font";
  color: black; 

}
.bodyFixed{
  position: fixed;
  width: 100%;
  height:100vh;
  z-index: -999;
  background: black;
}
.apareca{
  display: none;
}
.sv{
  font-family: "Icon Font", "Arial", sans-serif !important;
  color: white !important;
}
.stack{
  font-family: "Icon Font", "Arial", sans-serif !important;
  color:$our-orange;
}
.view{
  font-family: "Icon Font", "Arial", sans-serif !important;
  color: $our-blue;
}
a{
  text-decoration: none;
  color: white;
}
.custom {
  font-family: "Custom Font", "Arial", sans-serif !important;  
  font-size: x-large;  
  color: white;
}
a:hover, a:focus, a:active {
  background-color: transparent;
  text-decoration: none; 
}
//button 
button{
  background-color: transparent;
  border: none;
  text-align: center;
  cursor: pointer;
}
//Scroll bar 
/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $our-orange;
}
//Scroll bar
//Scroll button
.somenteMobile{
  display: none;
}

button:hover, button:focus {
  outline: none !important;
  -webkit-tap-highlight-color: transparent !important;
  }

  a:hover, a:focus, div:hover, div:focus {

    -webkit-tap-highlight-color: transparent !important;
    }